#contact {
    text-align: center;
}

.contact__card--left {
    background-color: $color0-0;
    padding: 3rem;
}

// .uk-card {
//     margin: 3rem;
// }

.uk-grid {
    flex-wrap: nowrap;
}

a.uk-icon {
    color: black;
    font-size: 5rem;
}

